@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  background-color: #333;
  color: white;
  font-family: 'Muli';
}

.canvas-container {
  display: flex;
  margin: 0 auto;
  width: 95%;
  background-color: white;
  border: 2px solid white;
}

.svghistory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-div {
  width: 95%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #7f7e7b;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  border-top: none;
}

.btn-div-top {
  width: 95%;
  height: 105px;
  display: flex;
  flex-direction: row;
  background-color: #7f7e7b;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.half {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  /*border: 2px solid white;*/

}

.sentiment-div {
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  margin: 0 auto;
}

.sentiment-div2 {
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  display: flex;
  flex-direction: row;
  background-color: rgb(219, 44, 45);
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  margin: 0 auto;
}
/*.sentiment-div p {
  text-decoration: none !important; text-align: center;
  }*/

.centertext {
  width: 95%;
    text-align: center;
}

.btnLink {
  display:inline-block;
  width:100%;
  height:100%;
}
.links {
  stroke: #000;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #000;
  stroke-width: 2px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

#title {
  font-size: 2.5em;
}

hr {
  border: none;
  color:#000000;
  background-color:#000000;
  height:1px;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40%;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.navigation a:hover {
  color: yellow;
}

.navigation li {
  display: inline-block;
}

.toolTip {
    font-family: "Muli", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 black;
    border: 0 none;
    border-radius: 4px;
    color: white;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
    z-index: 9999;
}

.selected {
  fill: yellow;
}

.main-button {
  width: 40%;
  height: 25px;
  border-radius: 5px;
  box-shadow: none;
  background: orange;
  color: white;
  border-color: white;
  border-style: solid;
}

.sub-button {
  border-radius: 2px;
  height: 50%
  box-shadow: none;
  background: transparent;
  color: white;
  /*border-width: 1px;
  border-color: white;
  border-style: solid;*/
}

.tableHeader {
   overflow-y:scroll;
   max-height:300px;
   display:block;
  background-color: whitesmoke;
  color: darkslategrey;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;

}

.descRow > th {
  width: 22.5%;
  background-color:#e2e4eb;
  margin: 20px;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
}



.dataRow {
  margin: 20px;
  font-size: 14px;
}

.dataRow > td {
  padding: 10px 0px 10px 0px;
  border-bottom: solid  #e2e4eb;
  }

.bubble:hover {
  stroke: yellow;
  stroke-width: 3px;
}

.bubbletext {
  font-size: 9px;
}

#barchart {
  background-color: white;
}

.bar:hover {
  fill: indianred;
}

.retrace-container {
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #0e43b7;
  justify-content: center;
}

.retrace {
  height: 80%;
  font-size: 2vw;
  text-align: center;
}

.boots {
  align-self: center;
}

.svg {
  background-color: rgb(127, 126, 123);
}

.axis-y, .axis-x {
  font-size: 12px;
}

.axis-y text,
.axis-x text {
  fill: white;
}

.axis-y line,
.axis-x line,
.axis-y path,
.axis-x path {
  fill: none;
  stroke: none;
}

.brush {
    fill: indianred;
    fill-opacity: 0.3;
}

.hide {
  display: none;
}

/*
 * Define the widths: play around with these to get a best fit.
 */
 .TopRow {
  padding-top: 20px;
  max-width: 80%;
  margin: 0 auto;
 }

.container-fluid {
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto;
  overflow: auto;

}

.table-row {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: wrap;         -webkit-flex-wrap: wrap;
  /*width: 100%;*/
  padding-left: 15px;
  padding-right: 15px;
  border-bottom:solid 2px;
  background-color: whitesmoke;
}

.text {
  flex-grow: 1;            -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;

color:darkslategrey;
}

.text {
  width:100px;
}
.num {
  width: 100px;
  color:darkslategrey;

}

.table-row {
  border-bottom: 2px solid #e2e4eb;
  border-collapse: collapse;
  padding-top: 5px;
  background-color: white;
}

.table-row.header {
  background-color: #e2e4eb;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}


/* CAT TABLE*/

.TopRow-Cat {
  padding-top: 20px;
  max-width: 40%;
  margin-left:10%;
 }

.container-fluid-Cat {
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto;
  overflow: auto;

}

.table-row-Cat {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: wrap;         -webkit-flex-wrap: wrap;
  /*width: 100%;*/
  padding-left: 15px;
  padding-right: 15px;
  border-bottom:solid 2px;
  background-color: whitesmoke;
}

.text-Cat {
  flex-grow: 1;            -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  padding-bottom : 5px;
  /*padding-right: 20px;*/

color:darkslategrey;
}

.text-Cat {
  width:100px;
}
.num-Cat {
  width: 100px;
  color:darkslategrey;
}

.table-row-Cat {
  border-bottom: 2px solid #e2e4eb;
  border-collapse: collapse;
  padding-top: 5px;
  background-color: white;
}

.table-row-Cat.header {
  background-color: #e2e4eb;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
.divdiv {
  z-index: 9999
}

#pieChart {
  border: 1px solid yellow;
}

#lineChart {
  margin: 0 auto;
  margin-top: 10px;
  background-color: #7f7e7b;
  border: 2px solid white;

}
